@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto+Slab:700");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-family: "Open Sans", sans-serif;
  color: #2B2F42; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  color: #2B2F42;
  font-weight: 700; }

a {
  color: inherit;
  text-decoration: underline; }
  a:visited {
    color: inherit; }
  a:hover {
    color: #4B87FF;
    text-decoration: underline; }

.wrapper {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px; }
  @media screen and (max-width: 960px) {
    .wrapper {
      max-width: 100%;
      padding-right: 10px;
      padding-left: 10px; } }

.section {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }
  .section.full {
    max-width: none; }
  .section.large {
    max-width: 1600px; }
  @media screen and (max-width: 1150px) {
    .section {
      width: 90%; }
      .section.large {
        width: 100%; } }

.wrapper:after, .about-offices span:after {
  content: "";
  display: table;
  clear: both; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.home-cover, .logbook-cover {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  height: 85vh;
  max-height: 800px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 960px) {
    .home-cover, .logbook-cover {
      height: 90vh; } }
  .home-cover h1, .logbook-cover h1 {
    font-size: 38px; }
    @media screen and (max-width: 960px) {
      .home-cover h1, .logbook-cover h1 {
        font-size: 28.5px; } }
@media screen and (max-width: 768px) and (max-height: 400px) {
  .home-cover h1, .logbook-cover h1 {
    font-size: 19px; } }

    @media screen and (max-width: 480px) {
      .home-cover h1, .logbook-cover h1 {
        font-size: 19px; } }
  .home-cover .call-to-action-container, .logbook-cover .call-to-action-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    margin: 10px 0 0 0;
    flex-wrap: wrap;
    justify-content: flex-start; }
    @media screen and (max-width: 960px) {
      .home-cover .call-to-action-container, .logbook-cover .call-to-action-container {
        justify-content: center; } }

.cover-content, .home-cover .cover-content-home, .logbook-cover .cover-content-logbook {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }

.cover-column {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px; }

.call-to-action {
  display: block;
  position: relative;
  float: left;
  width: auto;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 0 0;
  padding: 0px 20px;
  font-weight: 400 !important;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.1s cubic-bezier(0.1, 0.2, 0.5, 1);
  -moz-transition: transform 0.1s cubic-bezier(0.1, 0.2, 0.5, 1);
  -ms-transition: transform 0.1s cubic-bezier(0.1, 0.2, 0.5, 1);
  transition: transform 0.1s cubic-bezier(0.1, 0.2, 0.5, 1); }
  .call-to-action:hover {
    text-decoration: none;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04); }
  .call-to-action:active {
    text-decoration: none;
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
    transition: none; }
  .call-to-action:not(:last-child) {
    margin: 10px 20px 0 0; }
    @media screen and (max-width: 480px) {
      .call-to-action:not(:last-child) {
        margin: 10px 0 0 0; } }
  .call-to-action.w-icon {
    padding: 0px 40px 0 20px; }
    .call-to-action.w-icon svg {
      display: block;
      position: absolute;
      height: 20px;
      width: 20px;
      top: 10px;
      right: 12px; }

.blue {
  background-color: #4B87FF;
  color: white !important; }
  .blue:hover {
    color: white !important; }
  .blue .icon {
    fill: white; }

.clear-blue {
  border: solid 1px #4B87FF;
  color: #4B87FF !important; }
  .clear-blue:hover {
    color: #4B87FF !important; }
  .clear-blue .icon {
    fill: #4B87FF; }

.green {
  background-color: #50CD88;
  color: white !important; }
  .green:hover {
    color: white !important; }
  .green .icon {
    fill: white; }

.clear-green {
  border: solid 1px #50CD88;
  color: #50CD88 !important; }
  .clear-green:hover {
    color: #50CD88 !important; }
  .clear-green .icon {
    fill: #50CD88; }

.centered {
  display: block;
  margin: 0 auto; }

.site-header {
  position: relative;
  z-index: 15;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 68px;
  padding: 20px 0; }
  .site-header .mobile {
    display: none; }
  @media screen and (max-width: 768px) {
    .site-header {
      height: 50px;
      padding: 15px 0; }
      .site-header .desktop {
        display: none; }
      .site-header .mobile {
        display: block; } }

.header-logo {
  float: left;
  height: 28px; }
  .header-logo svg {
    height: 28px;
    width: auto; }
  @media screen and (max-width: 768px) {
    .header-logo {
      height: 20px; }
      .header-logo svg {
        height: 20px; } }

.header-nav {
  display: block;
  position: relative;
  float: right;
  height: 28px;
  line-height: 28px; }
  .header-nav .page-link {
    display: block;
    float: left;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    color: #2B2F42;
    text-decoration: none;
    opacity: 1; }
    .header-nav .page-link:not(:last-child) {
      padding-right: 20px; }
    .header-nav .page-link:active {
      opacity: 0.8; }
    .header-nav .page-link:visited {
      color: #2B2F42;
      text-decoration: none; }
    .header-nav .page-link:hover {
      color: #4B87FF; }

.product-trigger {
  position: relative;
  z-index: 15; }

.product-trigger:hover + .nav-products-section,
.nav-products-section:hover {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
  pointer-events: all; }

.nav-products-section {
  display: block;
  position: absolute;
  z-index: 10;
  width: 300px;
  height: 450px;
  top: 38px;
  right: 30px;
  background-color: white;
  transform-origin: 0 0 0;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: matrix3d(0.99694, 0, 0, -0.0000102004, 0.0908859, 1.11266, 0, 0.000531896, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(0.99694, 0, 0, -0.0000102004, 0.0908859, 1.11266, 0, 0.000531896, 0, 0, 1, 0, 0, 0, 0, 1);
  -ms-transform: matrix3d(0.99694, 0, 0, -0.0000102004, 0.0908859, 1.11266, 0, 0.000531896, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(0.99694, 0, 0, -0.0000102004, 0.0908859, 1.11266, 0, 0.000531896, 0, 0, 1, 0, 0, 0, 0, 1);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.18s, opacity 0.18s; }
  .nav-products-section::before {
    content: "";
    display: block;
    position: absolute;
    height: 38px;
    width: 88px;
    top: -38px;
    left: 106px;
    background-image: url(images/header/arrow-product.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 30px auto; }
  .nav-products-section .product-link {
    display: block;
    width: 280px;
    height: 100px;
    margin: 0 10px 10px;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none; }
    .nav-products-section .product-link:first-child {
      margin: 10px; }
    .nav-products-section .product-link:hover {
      background-color: #fafbfe; }
      .nav-products-section .product-link:hover .product-description p {
        color: #4B87FF; }
    .nav-products-section .product-link svg {
      display: block;
      float: left;
      width: 70px;
      height: 70px; }
    .nav-products-section .product-link .product-description {
      float: left;
      width: 170px;
      margin-left: 10px; }
      .nav-products-section .product-link .product-description p {
        font-size: 13px;
        line-height: normal;
        color: #5F626B; }

.menu-toggler {
  float: right;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 4px 5px 0 0; }
  .menu-toggler svg {
    display: block;
    width: 16px;
    height: 16px; }

.mobile-menu {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  height: auto;
  z-index: 10;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  transform-origin: right top;
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  pointer-events: none;
  transition: opacity 0.2s 0s, transform 0.2s 0s; }
  .mobile-menu.menu-opened {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    pointer-events: all; }
  @media screen and (max-width: 768px) {
    .mobile-menu {
      width: 300px; } }
  @media screen and (max-width: 480px) {
    .mobile-menu {
      width: auto;
      left: 10px; } }

.close-mobile-menu {
  display: block;
  position: absolute;
  z-index: 10;
  width: 16px;
  height: 16px;
  top: 15px;
  right: 15px;
  margin: 0;
  padding: 0; }
  .close-mobile-menu svg {
    display: block;
    width: 16px;
    height: 16px; }

.mobile-menu-link {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-indent: 20px;
  text-decoration: none;
  font-weight: 400;
  color: #2B2F42; }
  .mobile-menu-link:visited {
    color: #2B2F42; }
  .mobile-menu-link:not(.grey):active::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    bottom: 5px;
    left: 10px;
    background-color: #fafbfe;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    z-index: -10; }
  .mobile-menu-link.grey {
    font-weight: 600;
    color: #b2b6c2;
    margin: 5px 0 -10px; }

.mobile-signup-link {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #fafbfe;
  margin: 5px 0 0;
  text-decoration: none;
  font-weight: 600;
  color: #4B87FF !important;
  text-align: center; }

.mobile-link-arrow {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 15px; }

.mobile-menu-sublink {
  display: block;
  width: 100%;
  height: 50px; }
  .mobile-menu-sublink img {
    display: block;
    float: left;
    width: 26px;
    margin: 12px 10px 12px 20px; }
  .mobile-menu-sublink p {
    display: block;
    float: left;
    height: 26px;
    margin: 12px 0px; }

.mobile-menu-divider {
  display: block;
  width: 100%;
  height: 2px;
  margin: 8px 0px 0px;
  background-color: #fafbfe; }

.site-footer {
  width: 100%;
  padding: 80px 0 20px;
  border-top: solid 2px #fafbfe;
  background-color: #fafbfe; }
  .site-footer .footer-section {
    width: 100%;
    max-width: 1100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .site-footer .footer-section {
        display: block; } }
  .site-footer .footer-column {
    width: 25%;
    padding: 0 0 0 20px;
    font-weight: 600;
    color: #8b8f9a;
    line-height: 30px; }
    .site-footer .footer-column .footer-logo {
      display: block;
      width: 80%;
      max-width: 140px; }
    .site-footer .footer-column a {
      width: 100%;
      font-weight: 400;
      color: #8b8f9a;
      text-decoration: none; }
      .site-footer .footer-column a:hover {
        color: #4B87FF; }
  @media screen and (max-width: 768px) {
    .site-footer {
      font-size: 12px; }
      .site-footer .footer-column {
        width: 33.333%;
        float: left;
        margin: 0 0 40px;
        line-height: 25px; }
      .site-footer .footer-column:first-child {
        width: 100%; } }
  .site-footer .legal-mentions {
    display: block;
    width: 100%;
    font-size: 10px;
    text-align: center;
    color: #8b8f9a;
    opacity: 0.6;
    margin: 80px 0 0;
    padding: 0 20px; }

.about-page-heading, .contact-page-heading, .confirmation-heading {
  width: 100%;
  text-align: center;
  font-size: 38px;
  color: #2B2F42;
  margin: 120px auto 40px; }

.about-subtitle {
  width: 100%;
  max-width: 750px;
  margin: 0 auto 160px;
  font-family: "Open Sans", sans-serif;
  color: #8b8f9a;
  font-size: 22px;
  font-weight: 400;
  text-align: center; }

.illu-section {
  width: 90%;
  margin: 0px auto;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 30px rgba(36, 41, 61, 0.15);
  -moz-box-shadow: 0px 5px 30px rgba(36, 41, 61, 0.15);
  -ms-box-shadow: 0px 5px 30px rgba(36, 41, 61, 0.15);
  box-shadow: 0px 5px 30px rgba(36, 41, 61, 0.15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: stretch; }

.illu-container {
  width: 40%;
  background-image: url(images/about/plane-illu.svg);
  background-size: cover;
  background-position: center; }

.illu-text-container {
  width: 60%;
  background-color: #fafbfe;
  padding: 120px 0; }

.about-content {
  width: 100%;
  max-width: 500px;
  color: #5F626B;
  font-size: 16px;
  line-height: 24px;
  margin: 0px auto;
  font-weight: 400; }

.about-offices {
  width: 90%;
  margin: 160px auto 160px; }
  .about-offices h4 {
    width: 100%;
    max-width: 750px;
    margin: 80px auto 40px;
    font-family: "Open Sans", sans-serif;
    color: #8b8f9a;
    font-size: 22px;
    font-weight: 400;
    text-align: center; }

.office-block {
  display: block;
  float: left;
  position: relative;
  width: 29.333%;
  min-height: 120px;
  margin: 0px 2%;
  background-color: white;
  border: solid 1px #D8D8D8;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px; }
  .office-block img {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 20px;
    top: 20px; }
  .office-block p {
    text-align: left;
    font-size: 0.9em;
    color: #8b8f9a;
    line-height: 1.4em;
    margin: 15px 0px 15px 120px;
    font-weight: 400; }
    .office-block p b {
      display: block;
      font-size: 1.15em;
      font-weight: 600;
      color: #2B2F42;
      margin-bottom: 3px; }
    .office-block p span {
      display: block;
      color: #4B87FF;
      margin-top: 4px; }
      .office-block p span br {
        display: inline; }

.contact-section {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .contact-section h3 {
    margin: 80px 0 20px; }
  .contact-section .call-to-action {
    margin: 40px 0 120px; }

.contact-form-container {
  width: 100%;
  max-width: 900px;
  margin: 0px auto; }

.contact-page-heading {
  margin: 80px auto 100px; }

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 40px; }

.form-column.half, .section-column.half {
  width: 46%; }
  .form-column.half:not(:last-child), .section-column.half:not(:last-child) {
    margin: 0 8% 0 0; }
.form-column.full, .section-column.full {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .form-column.full h3, .section-column.full h3 {
    width: 100%; }

.form-section-title {
  line-height: 30px;
  margin: 0 0 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }
  .form-section-title .title-number {
    display: inline-block;
    color: white;
    width: 30px;
    height: 30px;
    background-color: #4B87FF;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    margin: 0 5px 0 0; }

.form-column label {
  display: block;
  width: 100%;
  height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #5F626B; }
.form-column input, .form-column select, .form-column textarea {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #2B2F42;
  border: solid 1px #D8D8D8; }
  .form-column input:focus, .form-column select:focus, .form-column textarea:focus {
    border: solid 1px #4B87FF; }
.form-column input, .form-column select {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  outline: none; }
.form-column select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(images/form/dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center; }
.form-column textarea {
  padding: 10px;
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  height: 120px; }
.form-column input[type=submit] {
  background-color: #4B87FF;
  color: white;
  font-weight: 600;
  margin: 20px 0 60px;
  border: none;
  width: 200px;
  cursor: pointer;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.1s cubic-bezier(0.1, 0.2, 0.5, 1);
  -moz-transition: transform 0.1s cubic-bezier(0.1, 0.2, 0.5, 1);
  -ms-transition: transform 0.1s cubic-bezier(0.1, 0.2, 0.5, 1);
  transition: transform 0.1s cubic-bezier(0.1, 0.2, 0.5, 1); }
  .form-column input[type=submit]:hover {
    text-decoration: none;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04); }
  .form-column input[type=submit]:active {
    text-decoration: none;
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
    transition: none; }

.confirmation-heading {
  margin: 80px auto 40px; }

.animation-container {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto; }

.confirmation-text {
  display: block;
  width: 500px;
  margin: 40px auto 40px;
  text-align: center; }
  .confirmation-text b {
    display: block;
    width: 100%; }

.call-to-action-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center; }

.confirmation-cta {
  display: block;
  margin: 20px auto 120px; }

.svg-blue {
  fill: #4B87FF; }

.svg-dark {
  fill: #2B2F42; }

.svg-stroke {
  fill: none;
  stroke: #2B2F42;
  stroke-miterlimit: 10; }

.svg-light-text {
  fill: #8b8f9a; }

.svg-light-grey {
  fill: #fafbfe; }

.svg-white {
  fill: #fff; }

.svg-grey-1 {
  fill: #e8ebf1; }

.svg-grey-2 {
  fill: #bdc1d1; }

.svg-grey-3 {
  fill: #8a8eaa; }

a:hover .svg-grey-1 {
  fill: #a5daff; }

a:hover .svg-grey-2 {
  fill: #4a87ff; }

a:hover .svg-grey-3 {
  fill: #5b42e8; }

.home-cover {
  overflow: hidden; }
  .home-cover p {
    margin: 20px 0 0;
    font-size: 22px;
    color: #5F626B; }
  @media screen and (max-width: 960px) {
    .home-cover .cover-content-home .cover-column {
      width: 80%;
      margin: 42.5vh auto 0;
      text-align: center;
      padding: 0 0; }
      .home-cover .cover-content-home .cover-column .call-to-action.clear-green {
        background-color: white; } }

.cover-animation-container {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 400px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  overflow: hidden;
  background-image: url(images/cover/home-sky-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .cover-animation-container .animation-images-container {
    position: relative;
    width: 100%;
    padding-top: 100%; }
    .cover-animation-container .animation-images-container img {
      display: block;
      position: absolute;
      width: 120%;
      top: -10%;
      left: -10%; }
    .cover-animation-container .animation-images-container .outside-animation {
      animation: outside-animation 30s infinite linear; }
    .cover-animation-container .animation-images-container .center-animation {
      animation: center-animation 22s infinite linear; }
    .cover-animation-container .animation-images-container .inside-animation {
      animation: inside-animation 15s infinite linear; }
  @media screen and (max-width: 1150px) {
    .cover-animation-container .animation-images-container img {
      display: block;
      position: absolute;
      width: 150%;
      top: -25%;
      left: -25%; } }
  @media screen and (max-width: 960px) {
    .cover-animation-container {
      left: 0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px; }
      .cover-animation-container .animation-images-container img {
        width: 100%;
        top: -150px;
        left: 0; } }
  @media screen and (max-width: 768px) {
    .cover-animation-container .animation-images-container img {
      width: 100%;
      top: -80px;
      left: 0; } }
@media screen and (max-width: 768px) and (max-height: 400px) {
  .cover-animation-container .animation-images-container {
    width: 50%;
    padding-top: 50%; }
    .cover-animation-container .animation-images-container img {
      width: 100%;
      top: -60%;
      left: 0; } }

  @media screen and (max-width: 480px) {
    .cover-animation-container .animation-images-container {
      width: 100%;
      height: 100%; }
      .cover-animation-container .animation-images-container img {
        width: 130%;
        top: -10%;
        left: -15%; } }

.home-personae {
  padding: 80px 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1400px; }
  @media screen and (max-width: 960px) {
    .home-personae {
      padding: 80px 0; } }
  @media screen and (max-width: 768px) {
    .home-personae {
      padding: 80px 0; } }
  @media screen and (max-width: 480px) {
    .home-personae {
      width: 90%;
      max-width: 400px;
      margin: 0 auto;
      padding: 40px 0;
      flex-direction: column; } }

.persona-column {
  width: 22%; }
  @media screen and (max-width: 768px) {
    .persona-column {
      width: 30%; } }
  @media screen and (max-width: 480px) {
    .persona-column {
      width: 100%;
      position: relative;
      margin: 0px 0px 20px; } }

.persona-icon {
  display: block;
  width: 80px; }
  @media screen and (max-width: 768px) {
    .persona-icon {
      width: 60px; } }
  @media screen and (max-width: 480px) {
    .persona-icon {
      position: absolute;
      width: 50px;
      height: auto; } }

.persona-title {
  font-size: 22px;
  margin: 20px 0; }
  @media screen and (max-width: 768px) {
    .persona-title {
      font-size: 16.5px;
      margin: 10px 0; } }
  @media screen and (max-width: 480px) {
    .persona-title {
      display: block;
      width: 100%;
      float: left;
      padding: 0 0 0 60px;
      margin: 0 0; } }

.persona-description {
  font-size: 16px;
  font-weight: 400;
  color: #5F626B; }
  @media screen and (max-width: 768px) {
    .persona-description {
      font-size: 13.6px; } }
  @media screen and (max-width: 480px) {
    .persona-description {
      display: block;
      width: 100%;
      float: left;
      padding: 0 0 0 60px; } }

.home-mockups {
  padding: 20px 0 0;
  height: auto; }
  .home-mockups .mockup-images-container {
    position: relative;
    height: 88vh;
    min-height: 640px;
    max-height: 700px; }
    @media screen and (max-width: 1150px) {
      .home-mockups .mockup-images-container {
        height: 70vh;
        min-height: 540px; } }
    @media screen and (max-width: 768px) {
      .home-mockups .mockup-images-container {
        height: auto;
        min-height: 0;
        max-height: none; } }
  .home-mockups .call-to-action-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    margin: 20px 0 80px;
    justify-content: center; }
    @media screen and (max-width: 768px) {
      .home-mockups .call-to-action-container {
        margin: 40px 0; } }

.mockup-container {
  position: absolute; }
  @media screen and (max-width: 768px) {
    .mockup-container {
      position: relative; } }
  .mockup-container.back {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0; }
    @media screen and (max-width: 768px) {
      .mockup-container.back {
        width: 100%;
        margin: 0 auto 20px; } }
    .mockup-container.back .mockup-logbook-desktop {
      width: 80%;
      height: auto;
      margin: 20px auto 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      background-color: white; }
      @media screen and (max-width: 768px) {
        .mockup-container.back .mockup-logbook-desktop {
          width: 86%; } }
  .mockup-container.left {
    bottom: 0;
    left: 0;
    width: 28%;
    z-index: 5; }
    @media screen and (max-width: 768px) {
      .mockup-container.left {
        width: 45%;
        margin: 0 2% 0 3%;
        float: left; } }
    .mockup-container.left .mockup-logbook-analytics {
      width: 100%;
      height: auto;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
      -ms-box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      background-color: white; }
      @media screen and (max-width: 768px) {
        .mockup-container.left .mockup-logbook-analytics {
          width: 80%;
          margin: 0 auto; } }
  .mockup-container.right {
    bottom: 0;
    right: 0;
    width: 29%;
    z-index: 10; }
    @media screen and (max-width: 768px) {
      .mockup-container.right {
        width: 45%;
        margin: 0 3% 0 2%;
        float: left; } }
    .mockup-container.right .mockup-logbook-export {
      width: 100%;
      height: auto;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
      -ms-box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 45px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      background-color: white; }
      @media screen and (max-width: 768px) {
        .mockup-container.right .mockup-logbook-export {
          width: 80%;
          margin: 0 auto; } }
  .mockup-container p {
    text-align: center;
    color: #5F626B;
    font-size: 16px;
    margin: 20px auto 0; }

.our-clients {
  position: relative;
  width: 100% !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 60px 0;
  margin: 200px auto 120px; }
  @media screen and (max-width: 768px) {
    .our-clients {
      margin: 120px auto 80px; } }
  .our-clients::after {
    content: "";
    display: block;
    position: absolute;
    top: -60px;
    bottom: -60px;
    left: -60px;
    right: -60px;
    background-color: #fafbfe;
    z-index: -10;
    -webkit-transform: skew(0deg, -4deg);
    -moz-transform: skew(0deg, -4deg);
    -ms-transform: skew(0deg, -4deg);
    transform: skew(0deg, -4deg); }
    @media screen and (max-width: 1150px) {
      .our-clients::after {
        left: -40px;
        right: -40px; } }
    @media screen and (max-width: 960px) {
      .our-clients::after {
        left: -10px;
        right: -10px; } }
  .our-clients h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px; }
  .our-clients .logos-clients {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .our-clients .logos-clients img {
      width: 11%; }

.bot-call-to-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 0 160px;
  text-align: center; }
  .bot-call-to-action img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 0 20px; }

.logbook-cover {
  position: relative;
  background-image: url(images/cover/logbook-sky-cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 768px) {
    .logbook-cover {
      display: flex;
      flex-direction: column; } }
  .logbook-cover img {
    display: block;
    width: 300px;
    height: auto; }
  .logbook-cover h1 {
    color: white; }
  .logbook-cover .logbook-mockup-cover {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 68vh;
    max-width: 850px;
    height: 105vh;
    min-height: 500px;
    max-height: 1000px;
    overflow: hidden; }
    .logbook-cover .logbook-mockup-cover img {
      position: absolute;
      width: 100%;
      left: 0; }
    @media screen and (max-width: 1650px) {
      .logbook-cover .logbook-mockup-cover {
        right: -40px;
        max-width: none; }
        .logbook-cover .logbook-mockup-cover img {
          width: auto;
          height: 100%;
          left: auto;
          right: -180px; } }
    @media screen and (max-width: 1150px) {
      .logbook-cover .logbook-mockup-cover {
        right: -40px;
        max-width: 500px; }
        .logbook-cover .logbook-mockup-cover img {
          width: auto;
          height: 100%;
          left: 0;
          right: auto; } }
    @media screen and (max-width: 960px) {
      .logbook-cover .logbook-mockup-cover {
        right: -10px;
        width: 50%;
        height: 100%; }
        .logbook-cover .logbook-mockup-cover img {
          width: 140%; } }
    @media screen and (max-width: 768px) {
      .logbook-cover .logbook-mockup-cover {
        display: none; } }
  .logbook-cover .call-to-action-container {
    justify-content: flex-start; }
  .logbook-cover .cover-content-logbook .cover-column {
    width: 100%;
    padding: 0 40px; }

.features-container {
  margin: 200px auto 0; }

.feature-section {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center; }
  .feature-section:not(:last-child) {
    margin: 0 auto 160px; }
    .feature-section:not(:last-child)::after {
      content: "";
      display: block;
      position: absolute;
      right: 30%;
      bottom: -80px;
      left: 30%;
      height: 1px;
      background-color: #D8D8D8; }
  .feature-section:last-child {
    margin: 0 auto 80px; }
  .feature-section:nth-child(even) {
    flex-direction: row-reverse; }
    @media screen and (max-width: 960px) {
      .feature-section:nth-child(even) {
        flex-direction: column; } }
  .feature-section:nth-child(odd) {
    flex-direction: row; }
    @media screen and (max-width: 960px) {
      .feature-section:nth-child(odd) {
        flex-direction: column; } }

.feature-column {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  @media screen and (max-width: 960px) {
    .feature-column {
      width: 100%; } }
  .feature-column.text {
    padding: 0 40px;
    max-width: 700px; }
    @media screen and (max-width: 960px) {
      .feature-column.text {
        max-width: none; } }
  @media screen and (max-width: 768px) {
    .feature-column.image {
      max-height: 60vh; } }

.text .section-icon {
  display: block;
  width: 80px;
  margin: -40px 0 20px; }
.text h2 {
  font-size: 30px;
  color: #2B2F42;
  margin-bottom: 10px; }
.text p {
  font-size: 16px;
  color: #5F626B;
  margin-bottom: 40px; }

.feature-highlight {
  display: block;
  width: 100%;
  margin-bottom: 20px; }
  .feature-highlight img {
    display: block;
    float: left;
    width: 60px; }
  .feature-highlight p {
    margin: 6.6666666667px 0; }
    .feature-highlight p span {
      display: block;
      width: 100%;
      color: #2B2F42;
      font-weight: 600; }

.feature-divider {
  width: 80%;
  max-width: 700px;
  margin: 80px auto;
  height: 1px;
  background-color: #D8D8D8; }

/* --- MIXINGS --- */
/* --- BASE ELEMENTS --- */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (max-width: 736px) {
    body.menu-opened .mobile-menu {
      transform: translateX(-250px);
      z-index: 250;
      transition: z-index 0s 0.3s, transform 0s 0s; }
    body.menu-opened .cache-body {
      z-index: 210; }
    body.menu-opened .mobile-scroll-container {
      position: fixed;
      transform: translateX(-250px);
      top: 0;
      bottom: 0;
      overflow: hidden; } }

.clear-fix::after {
  content: "";
  display: table;
  clear: both; }

@media screen and (max-width: 736px) {
  .mobile-scroll-container {
    position: relative;
    left: 0;
    right: 0;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s; } }
.content {
  display: block;
  width: 100%;
  position: relative;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 15px rgba(78, 92, 146, 0.5);
  -moz-box-shadow: 0px 0px 15px rgba(78, 92, 146, 0.5);
  -ms-box-shadow: 0px 0px 15px rgba(78, 92, 146, 0.5);
  box-shadow: 0px 0px 15px rgba(78, 92, 146, 0.5);
  left: 0;
  transition: left 0.3s; }

.section-old {
  display: block;
  width: 100%;
  float: left;
  margin: 0px auto;
  padding: 80px 0px;
  background-color: white;
  overflow: hidden; }
  @media screen and (max-width: 736px) {
    .section-old {
      padding: 5px 0px; } }
  .section-old.pasted-bot {
    padding: 40px 0px 0px; }
    @media screen and (max-width: 736px) {
      .section-old.pasted-bot {
        padding: 5px 0px; } }
  .section-old:last-child {
    margin-bottom: 50px; }
    @media screen and (max-width: 736px) {
      .section-old:last-child {
        margin-bottom: 0; } }
  .section-old:not(:last-child) {
    border-bottom: solid 1px #d4d7df; }
  .section-old.grey {
    background-color: #f1f2f7;
    border-top: solid 1px #d4d7df; }
  .section-old.about {
    overflow: visible; }
  .section-old .sub-section {
    display: block;
    width: 90%;
    max-width: 1000px;
    margin: 0px auto; }
    @media screen and (max-width: 736px) {
      .section-old .sub-section {
        width: 100%; } }

.cover {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 330px;
  background-attachment: fixed;
  background-size: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3); }
  @media screen and (max-width: 736px) {
    .cover {
      height: 140px; } }
  .cover.clip {
    background-image: radial-gradient(circle farthest-corner at right bottom, #9FD3FB 0, #5A8FFF 25%, #273874 75%, #141138 100%);
    background-image: -webkit-radial-gradient(circle farthest-corner at right bottom, #9FD3FB 0, #5A8FFF 25%, #273874 75%, #141138 100%); }
  .cover.security {
    background-image: radial-gradient(circle farthest-corner at right bottom, #B8E1E0 0, #70D2CC 25%, #4B78BD 65%, #182249 100%);
    background-image: -webkit-radial-gradient(circle farthest-corner at right bottom, #B8E1E0 0, #70D2CC 25%, #4B78BD 65%, #182249 100%); }
  .cover.elist {
    background-image: radial-gradient(circle farthest-corner at right bottom, #FFDAD2 0, #E3B5B8 25%, #8B7F92 50%, #4F4B73 75%, #212051 100%);
    background-image: -webkit-radial-gradient(circle farthest-corner at right bottom, #FFDAD2 0, #E3B5B8 25%, #8B7F92 50%, #4F4B73 75%, #212051 100%); }
  .cover.jobs {
    background-image: radial-gradient(circle farthest-corner at right bottom, #fcf8c1 0, #f7ca96 25%, #9b8689 50%, #3b407c 75%, #2e2056 100%);
    background-image: -webkit-radial-gradient(circle farthest-corner at right bottom, #fcf8c1 0, #f7ca96 25%, #9b8689 50%, #3b407c 75%, #2e2056 100%); }
  .cover img {
    display: block;
    height: 330px;
    max-width: 90%;
    margin: 0px auto; }
    @media screen and (max-width: 736px) {
      .cover img {
        height: auto;
        width: 90%;
        position: absolute;
        bottom: 0;
        left: 5%; } }

.cover-about {
  display: block;
  position: relative;
  overflow: hidden;
  float: left;
  width: 100%;
  height: 230px;
  -webkit-box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.3);
  background-image: url(../imgs/cloud-bg.svg);
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 736px) {
    .cover-about {
      height: 160px; } }
  .cover-about .cloud-front, .cover-about .cloud-back {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%; }
  .cover-about .plane-fly {
    display: block;
    position: absolute;
    width: 200px;
    top: 100px;
    animation: plane-fly 30s linear infinite; }
    @media screen and (max-width: 736px) {
      .cover-about .plane-fly {
        top: 60px; } }

@keyframes plane-fly {
  0% {
    left: -200px; }
  100% {
    left: 110%; } }
.flexed {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.flexed-not-mobile {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 736px) {
    .flexed-not-mobile {
      display: block; } }

.intro h1 {
  display: block;
  position: relative;
  width: 70%;
  height: 60px;
  margin: 0px auto;
  line-height: 15px;
  font-size: 2.2em;
  color: #2D2F33;
  text-align: center;
  font-weight: 400; }
  @media screen and (max-width: 736px) {
    .intro h1 {
      font-size: 1.9em;
      height: 35px;
      width: 90%;
      margin: 25px auto 0px;
      line-height: 4px; } }
  .intro h1::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, white, #d4d7df, white); }
.intro p {
  display: block;
  width: 55%;
  margin: 0;
  font-size: 1.09em;
  line-height: 1.6em;
  color: #484b52;
  text-align: left;
  font-weight: 400; }
  @media screen and (max-width: 736px) {
    .intro p {
      width: 92%;
      margin: 0px 4%;
      font-size: 0.9em;
      line-height: 1.5em;
      text-align: center; }
      .intro p br {
        display: none; } }
.intro .flexed, .intro .flexed-not-mobile {
  margin: 40px 0px; }
  @media screen and (max-width: 736px) {
    .intro .flexed, .intro .flexed-not-mobile {
      margin: 0; } }
  .intro .flexed.cta, .intro .flexed-not-mobile.cta {
    margin: 10px 0px 40px; }
    @media screen and (max-width: 736px) {
      .intro .flexed.cta, .intro .flexed-not-mobile.cta {
        margin: 20px 0px 10px; } }
    .intro .flexed.cta .call-to-action, .intro .flexed-not-mobile.cta .call-to-action {
      margin: 0 20px 0 0; }
.intro img {
  width: 16%;
  margin-right: 5%; }
  @media screen and (max-width: 736px) {
    .intro img {
      display: block;
      width: 60px;
      margin: 15px auto 10px; } }
.intro .values-links {
  display: block;
  width: 100%;
  float: left;
  margin: 40px 0px; }
  @media screen and (max-width: 736px) {
    .intro .values-links {
      width: 86%;
      margin: 20px 7%; } }
  .intro .values-links a {
    position: relative;
    display: block;
    width: 33.333%;
    float: left;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 0.9em; }
    @media screen and (max-width: 736px) {
      .intro .values-links a {
        width: 100%;
        border: solid 1px #d4d7df;
        margin: 0px 0px 10px 0px;
        padding: 5px 0px 25px; } }
    .intro .values-links a img {
      width: 80px;
      height: 80px;
      position: absolute;
      left: 0;
      top: 0; }
      @media screen and (max-width: 736px) {
        .intro .values-links a img {
          width: 60px;
          height: 60px;
          margin: 0px;
          left: 5px;
          top: 10px; } }
    .intro .values-links a p {
      display: block;
      text-align: left;
      width: auto;
      margin: 0px 10px 0px 90px;
      color: #484b52;
      font-weight: 400; }
      .intro .values-links a p br {
        display: inline; }
      @media screen and (max-width: 736px) {
        .intro .values-links a p {
          margin: 5px 10px 0px 70px; } }
      .intro .values-links a p b {
        font-weight: 600;
        color: #2D2F33; }
    .intro .values-links a span {
      display: block;
      position: absolute;
      left: 90px;
      top: 90%;
      width: 15px;
      height: 20px;
      transition: transform 0.3s; }
      @media screen and (max-width: 736px) {
        .intro .values-links a span {
          left: 70px;
          top: 74%; } }
      .intro .values-links a span::before, .intro .values-links a span::after {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 1px;
        top: 10px;
        background-color: #407ded; }
      .intro .values-links a span::before {
        left: 2px;
        transform: rotate(30deg);
        -webkit-transform: rotate(30deg); }
      .intro .values-links a span::after {
        right: 2px;
        transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg); }
    .intro .values-links a::after {
      content: "Learn more";
      display: block;
      position: absolute;
      left: 110px;
      top: 90%;
      color: #407ded;
      transition: transform 0.3s; }
      @media screen and (max-width: 736px) {
        .intro .values-links a::after {
          left: 90px;
          top: 74%;
          font-size: 0.9em; } }
    .intro .values-links a:hover span {
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px); }
    .intro .values-links a:hover::after {
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px); }
    @media screen and (max-width: 736px) {
      .intro .values-links a:hover span {
        top: 74%; }
      .intro .values-links a:hover::after {
        top: 74%; } }

.sub-section.float-right-content .value-content {
  float: right; }

.value-content {
  display: block;
  position: relative;
  float: left;
  min-height: 500px; }
  @media screen and (max-width: 736px) {
    .value-content {
      min-height: 0; } }
  .value-content.small {
    width: 40%; }
    @media screen and (max-width: 736px) {
      .value-content.small {
        width: 90%;
        margin: 0px 5%; } }
  .value-content.large {
    width: 55%; }
    @media screen and (max-width: 736px) {
      .value-content.large {
        padding-bottom: 20px; } }
    .value-content.large.right {
      margin-left: 5%; }
      @media screen and (max-width: 736px) {
        .value-content.large.right {
          width: 90%;
          margin: 0px 5%; } }
    .value-content.large.left {
      margin-right: 5%; }
      @media screen and (max-width: 736px) {
        .value-content.large.left {
          width: 90%;
          margin: 0px 5%; } }
  .value-content img.left {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    max-height: 500px; }
    @media screen and (max-width: 736px) {
      .value-content img.left {
        display: block;
        position: static;
        height: 180px;
        margin: 10px auto 0px;
        border-bottom: solid 1px #d4d7df; } }
  .value-content img.square-high {
    display: block;
    max-width: 500px;
    height: 100%;
    max-height: 500px; }
    @media screen and (max-width: 736px) {
      .value-content img.square-high {
        display: block;
        position: static;
        height: 180px;
        margin: 0px auto; } }
    .value-content img.square-high.float-right {
      float: right; }
      @media screen and (max-width: 736px) {
        .value-content img.square-high.float-right {
          float: none; } }
  .value-content img.square-wide {
    display: block;
    width: 100%; }
    @media screen and (max-width: 736px) {
      .value-content img.square-wide {
        display: block;
        position: static;
        height: 180px;
        width: 180px;
        margin: 0px auto; } }
  .value-content h2 {
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    font-size: 1.9em;
    color: #2D2F33;
    font-weight: 600;
    margin: 20px 0px 35px; }
    @media screen and (max-width: 736px) {
      .value-content h2 {
        width: 100%;
        margin: 10px 0px 20px;
        text-align: center;
        font-size: 1.5em; } }
  .value-content p {
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    font-size: 1em;
    color: #484b52;
    font-weight: 400;
    margin: 15px 0px 15px; }
    @media screen and (max-width: 736px) {
      .value-content p {
        width: 100%;
        margin: 10px 0;
        font-size: 0.93em; }
        .value-content p br {
          display: none; } }
    .value-content p b {
      font-weight: 600;
      color: #2D2F33; }
      .value-content p b br {
        display: inline; }

@keyframes outside-animation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes center-animation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes inside-animation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
