---
layout: portfolio
is_home: true
---


{% assign project_by_index = site.projects | sort: "index" %}

{% for project in project_by_index %}
    {% if project.external_url %}
      {% assign project_url = project.external_url %}
    {% else %}
      {% assign project_url = project.url %}
    {% endif %}
    <a href="{{project_url}}" 
       class="home-project-entry"
       {% if project.external_url %} target="_blank" {% endif %}>
      <div class="project-header">
        <div>
          <h2><b>
            {{project.title}}{% if project.external_url %} ↗{% endif %}
          </b></h2>
          <div class="project-tags-wrapper">
            {% for tag in project.tags %}
              <div class="project-tag">
                {{tag}}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="desc">
          {{project.excerpt | markdownify}}
        </div>
      </div>
      <div class="project-main-img">
        <img src="{{site.baseurl}}{{project.main_image}}" alt="">
      </div>

      <div class="mobile-details-link">
        {% if project.external_url %}
          Open in new tab ↗
        {% else %}
          Show details →
        {% endif %}
      </div>
    </a>
  {% endfor %}