<p>Clojure Paris is community regrouped around the <a href="https://clojure.org/" target="_blank">Clojure</a> programming language. They organize workshops and meetups in Paris. I created their branding and website, around the Clojure syntax and the lambda character, symbole of the language.</p>
