<p>Pre Post Sex is a part of <em>Our own private Internet</em>, it’s about someone’s needs to capture private moments after sharing intimacy with someone else. We designed and developped it over a weekend with <a href="">Sixtyne Perez</a> and <a href="http://morganebartoli.com" target="_blank">Morgane Bartoli</a>. Our goal was to represent the feeling you can get of never happening and never ending at the same time. Trying to capture our emotions through repeating experiences, good and bad.</p>
