<div class="doc-header">
  <div class="header-side-section">
    <a class="header-btn" href="{{site.baseurl}}{{include.back_url}}">←</a>
  </div>
  <div class="header-main">
    <h3 class="header-title">{{include.display_title}}</h3>
    <h5 class="header-subtitle">{{include.subtitle}}</h5>
  </div>
  <div class="header-side-section end">
    {% if include.drive_link %}
    <a class="header-drive-link external" target="_blank" href="{{include.drive_link}}">
      Drive <span>↗</span>
    </a>
  {% endif %}
  </div>
</div>