---
permalink: /teaching/g3-typo/
layout: teaching-home
id: sujets_g3c
display_menu: true
display_title: Sujets
subtitle: Motion design - LISAA G3C
drive_link: https://drive.google.com/drive/folders/1GZmEVk718TNyVas27sGjEBqsLoxOa4HN
---



<div class="subject-list">

  {% assign sujets_g3 = site.g3_typo | sort:"numero" | reverse %}
  {% for sujet in sujets_g3 %}
  {% if sujet.draft == false %}
  <a href="{{sujet.url}}" class="sujet-link-wrapper">
      <div class="sujet-num">Subjet {{sujet.numero}}</div>
      <div class="sujet-link-title" >{{ sujet.titre }}</div>
      <div class="date-note">
        {% if sujet.date-rendu %} Rendu le {{sujet.date-rendu}} {% endif %}
      </div>
      
      <!-- <div class="date-note">
        <p>
          
          {% if sujet.notes-url %}, <a target="_blank" href="https://docs.google.com/spreadsheets/d/1b8U_NJ1UN9ZCNn6kWfKjTTPyvouPfsdufJ1TIIDBRHo/edit#gid=247894761">notes</a> ↗ {%endif%}
        </p>
      </div> -->
  </a>
  {%endif%}
  {% endfor %}
</div>


