---
layout: teaching-home
display_menu: false
id: sujets
---



<div class="teaching-home-section">
  <!-- <h1>Lisaa</h1> -->
  
  <h2>Bachelor</h2>
  <div class="teaching-card-wrapper">
    <a class="teaching-card" href="{{site.baseurl}}/teaching/g1-motion/">
      <h5 class="card-title">G1</h5>
      Motion
    </a>
    <a class="teaching-card" href="{{site.baseurl}}/teaching/g3-motion/">
      <h5 class="card-title">G3</h5>
      Motion
    </a>
    <a class="teaching-card" href="{{site.baseurl}}/teaching/g3-typo/">
      <h5 class="card-title">G3</h5>
      Typo
    </a>
  </div>

  <h2>Master</h2>
  <div class="teaching-card-wrapper">
    <a class="teaching-card stretch" href="{{site.baseurl}}/teaching/workshop-specimen-typo/">
      <h5 class="card-title">Workshop</h5>
      Spécimen typographique
    </a>
  </div>
</div>


