---
layout: portfolio
is_about: true
---


<b>Product design</b><br/>
I currently work on user experience and user interfaces for these companies : <br/>
- <i>Electre Data Services</i>, a database and search engine dedicated to the book industry.<br/>
- <i>Ytems</i>, a mobile app built to automaticaly generate data from receipts and invoices, simplifying interractions between independants and their accountant. <br/>
Both are written in clojure, using a design system approach to build the UI. <br/><br/>

I talked about Interfaces and Domain Driven Design at <i>Ventes Privées</i>, 
watch the video <a href="https://vimeo.com/204360955" target="_blank">here</a> (in french).<br/><br/>

<b>Motion graphics</b><br/>
I believe motion is intricately linked to the affordance of a digital products and it's interfaces. I also spend time making animations with no other purpose than the beauty of motion.<br/>
My motion design work is on <a href="https://vimeo.com/alune" target="_blank">Vimeo</a>. <br/>
<!-- <a href="https://yulelog.fr" target="_blank">Yule Log</a> is a website showcasing their christmas work assignment. -->
<br/>

I have been teaching typography / layout design, publishing and motion graphics to graphic design students at <a href="https://www.lisaa.com/fr" target="_blank">LISAA Paris</a> since 2019. <br/><br/>

<b>Publishing</b><br/>
I'm invested in a micro-press label called <a href="https://objetpapier.fr/" target="_blank">Objet Papier</a> with Ronan Deshaies, 
Morgane Bartoli and Juliette Bernachot. 
<br/>
In 2019 we released a fanzine printable from a website called Print-it, it's generative so each copy is unique.
Check out <a href="https://objetpapier.fr/print-it/" target="_blank">the project</a> and the 
<a href="https://gitlab.com/Alune/print-it" target="_blank">the code</a>.
More details in <a href="{{site.baseurl}}/assets/downloads/print-it-cp.pdf" target="_blank">the press release</a>.
We designed the body copy font for the release, it's called Snap-it and it's open source, find it 
<a href="https://gitlab.com/Alune/snap-it-mono-font" target="_blank">here</a>.
We have been presenting the project in multiple events accross europe during the year following the release.<br/>
Follow Objet Papier on social media to find out more.
<br/><br/>

<!-- <b>Check out my work</b><br/>
<a href="https://objetpapier.fr/" target="_blank">OP website</a> <span class="grey-text">Design and code w/ Morgane Bartoli</span><br/>
<a target="_blank" href="https://objetpapier.fr/snap-it/">Snap-it font specimen</a> <span class="grey-text">Font, design and code</span>
<br/><br/>

<a target="_blank" href="https://accueil.electre.com">Electre Data Services</a> <span class="grey-text">Design, Illustrations and Code</span><br/>
<a target="_blank" href="https://fabien-joly.com">Fabien Joly</a> <span class="grey-text">Design and Code</span><br/>
<a target="_blank" href="{{site.baseurl}}/deolan">Deolan</a> <span class="grey-text">Design, Code and Branding</span><br/>
<a target="_blank" href="https://tabibito-shiatsu.fr">Tabibito Shiatsu</a> <span class="grey-text">Design, Code and Branding</span>
<br/><br/>

<a target="_blank" href="https://prepostsex.github.io/">Pre Post Sex</a><br/>
<a target="_blank" href="{{site.baseurl}}/pleasetypewell/">Please Type Well</a><br/><br/> -->

<b>tl;dr</b> I design, code and animate.