@font-face {
  font-family: 'ValueSerif-Bold';
  src: url("fonts/ValueSerif-Bold.eot");
  src: url("fonts/ValueSerif-Bold.woff2") format("woff2"), url("fonts/ValueSerif-Bold.woff") format("woff"), url("fonts/ValueSerif-Bold.ttf") format("truetype"), url("fonts/ValueSerif-Bold.svg#ValueSerif-Bold") format("svg"), url("fonts/ValueSerif-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box;
  font-family: "ValueSerif-Bold", times, serif;
  font-size: 48px;
  line-height: 130%; }

@media screen and (max-width: 670px) {
  * {
    font-size: 26px;
    line-height: 130%; } }
body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smootthing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white; }

h1, h2, h3, h4, h5, h6, p, span {
  display: inline;
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }

a, a:visited {
  color: white; }
  a:hover, a:visited:hover {
    color: blue; }

.header-title, .about-button {
  display: block;
  position: fixed;
  color: blue;
  top: 10px; }

.header-title {
  width: 155px;
  left: 15px;
  z-index: 10; }

.about-button {
  cursor: pointer;
  right: 15px;
  z-index: 2; }
  .about-button:hover {
    text-decoration: underline; }

.close-about-button {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  color: blue; }
  .close-about-button:hover {
    text-decoration: underline; }

.about-container {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 65px 10px 15px;
  background-color: white;
  color: black;
  z-index: 5;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.4s 0s, opacity 0s 0.4s; }
  .about-container span {
    color: white;
    opacity: 0; }

.home {
  width: 100%;
  height: auto;
  overflow-x: hidden; }

.post-wrapper {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  height: auto;
  z-index: 0;
  transform: translateX(0);
  transition: transform 0.4s; }

.post {
  padding: 0 50px 0 0; }
  .post span {
    color: black;
    opacity: 0; }

body.about-opened .about-container {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.4s 0s, opacity 0s 0s; }
body.about-opened .post-wrapper {
  transform: translateX(-100%); }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
