<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  

  <body>

      {{ content }}

      <script src="{{site.baseurl}}/assets/js/jscookie.js"></script>
      <script src="{{site.baseurl}}/assets/js/clipboard.min.js"></script>
      <script src="{{site.baseurl}}/assets/js/alune-home.js"></script>

  </body>

</html>
