---
layout: default
---

<div class="documentation generic-documentation">
  <div class="doc-sidebar">
    {% if page.is-child-page == true %}
    <a class="back-button" href="{{site.baseurl}}/{{page.root-folder}}">←</a>
    {% endif %}
  </div>
  <div class="generic-content">
    {{content}}
  </div>
</div>