---
layout: default
---


<div class="page-wrapper">
  
  <div class="content-wrapper">
  
    <div class="alune-header-wrapper">
      <div class="alune-header">
        <div class="menu-button-wrapper">
          <img src="{{site.baseurl}}/assets/images/op-puces-typo-round.png" class="header-profile-pic"/>
          <div class="menu-button">Menu</div>
        </div>
        <div class="header-text">
          My name is Corentin Moussard <br/>
          I work on digital product design
        </div>
      </div>
    </div>
    
    {{content}}
  
  </div>


  
  <div class="sidebar">
    <div class="sidebar-content-wrapper">
      <div class="menu-button">Close</div>
      <div class="alune-header-links">
        <div>
          <a href="mailto:hello@alune.fr">hello@alune.fr</a> 📮
        </div>
        <div>
          <a href="https://gitlab.com/Alune/" target="_blank">Gitlab</a> 💻
        </div>
        <div>
          <a href="https://www.instagram.com/alune_cm/" target="_blank">Instagram</a> 📸
        </div>
      </div>
      <div class="theme-toggler">
        <div>
          Switch to 
        </div>
        <div class="indicator">
          <div class="light">light theme ☀️</div>
          <div class="dark">dark theme 🌙</div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script src="{{site.baseurl}}/assets/js/jscookie.js"></script>
<script src="{{site.baseurl}}/assets/js/alune-home.js"></script>