---
layout: default 
---

<div class="page-wrapper">

  <div class="content-wrapper-portfolio">

    <div class="alune-header-wrapper">
      <div class="alune-header">
        {% if page.is_home %}
        <div class="menu-button-wrapper">
          <div class="profile-pic-wrapper">
            <img src="{{site.baseurl}}/assets/images/alune-logo-circle.jpg" class="header-profile-pic"/>
          </div>
          <!-- <div class="menu-button">Menu</div> -->
        </div>
        <div class="header-text">
          <b>Alune - Corentin Moussard</b><br/>
          I'm a graphic designer working on brands and digital products
        </div>
        {% else %}
        <a class="portfolio-back-button" href="{{site.baseurl}}/">← Back</a>
        {% endif %}
      </div>

      <div class="header-menu">
        {% if page.is_home %}
        <a href="{{site.baseurl}}/about">About</a>
        {% endif %}
        <div class="email-copy" data-clipboard-text="hello@alune.fr">hello@alune.fr 📮</div>
        <div class="theme-toggler">
          <div class="indicator-text">
            Switch to 
          </div>
          <div class="indicator">
            <div class="light"><span class="indicator-text">light theme</span> ☀️</div>
            <div class="dark"><span class="indicator-text">dark theme</span> 🌙</div>
          </div>
          
        </div>
      </div>
    </div>

    {{content}}

  </div>

</div>

<div class="hint-wrapper">
  <div class="email-hint">
    E-mail address copied to clipboard
  </div>
</div>