---
layout: portfolio
---




<div class="project-content">
  <div class="img-wrapper img-100">
    <img src="{{site.baseurl}}{{page.main_image}}" alt="">
  </div>

  <div class="project-page-description">
    <div class="w33">
      <h1><b>{{page.title}}</b></h1>

      <div class="project-tags-wrapper">
        {% for tag in page.tags %}
          <div class="project-tag">
            {{tag}}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="w66">
      {{page.excerpt}}
    </div>
  </div>


  {{content}}
  <!-- {% for image in page.images %}
    {% if image.vertical %}
      {% assign img_width = "img-50" %}
    {% else %}
      {% assign img_width = "img-100" %}
    {% endif %}


    <div class="img-wrapper {{img_width}}">
      <img src="{{site.baseurl}}{{image.value}}" alt="">
    </div>
  {% endfor %} -->
</div>