---
layout: teaching
display_menu: true
---

<div>
  <h1>{{page.year}}</h1>
  <h2>{{page.discipline}}</h2>

  <div>
    {% for subject in page.subjects %}
      {{subject}}
    {% endfor %}
  </div>
</div>