---
layout: teaching-home
id: sujets
display_menu: false
---

{% if page.date-rendu %}
  {% if page.lang == "en" %}
    {% assign subtitle = page.date-rendu | prepend: 'Render on '%}
  {% else %}
    {% assign subtitle = page.date-rendu | prepend: 'Rendu le '%}
  {% endif %}
{% endif %}



{% include teaching-header.html display_title=page.titre 
                                subtitle=subtitle
                                drive_link=page.drive_link
                                back_url="/teaching/g1-motion/"%}

<div class="subject-content">
  <div class="sujet-num spaced">
    {% if page.lang == "en" %}
      Subject {{page.numero}}
    {% else %}
      Sujet {{page.numero}}
    {% endif %}
  </div>
  <!-- <div class="sujet-title">{{page.titre}}</div> -->
  <!-- <div class="sujet-subtitle">
    Rendu le {{page.date-rendu}}
  </div> -->

  <div class="mgb-s">
    {{page.description | markdownify}}
  </div>

  <div class="mgb-s">
    <b>
      {% if page.lang == "en" %}
        Render
      {% else %}
        Rendu 
      {% endif %}
    </b>
    {{page.rendu | markdownify}}
  </div>

  <div class="mgb-s">
    <b>Refs.</b>
    {{page.refs | markdownify}}
  </div>


  <!-- <div class="mgb-s">
    <b>Techniques abordées</b>
    {{page.tech | markdownify}}
  </div> -->

  <!-- <div class="mgb-s">
    <b>Emploie du temps</b><br/>
    Distribution le {{page.date-distribution}}<br/>
    Rendu le {{page.date-rendu}}
  </div> -->
</div>

  