---
layout: default-teaching
---

<div class="documentation">
  {% if page.display_menu %}
    {% include teaching-header.html display_title=page.display_title 
                                    subtitle=page.subtitle 
                                    drive_link=page.drive_link 
                                    back_url="/teaching/"%}
  {% endif %}
  <div class="doc-content">
    {{content}}
  </div>
</div>

<!-- <script>
  const bodyComponent = Document.body;
  bodyComponent.classlist.add("documentation-body")
</script> -->