---
layout: documentation
id: timed-subject
---

<div class="sujet-num">Sujet {{page.numero}}</div>
<div class="sujet-title">{{page.titre}}</div>
<div class="sujet-subtitle">{{page.subtitre}}</div>
{% if page.notes-url %}<div class="notes-link"><a target="_blank" href="https://docs.google.com/spreadsheets/d/1b8U_NJ1UN9ZCNn6kWfKjTTPyvouPfsdufJ1TIIDBRHo/edit#gid=247894761">Notes</a> ↗ </div>{%endif%}

<div class="mgb-s">
  {{page.description | markdownify}}
</div>
  